body {
  text-align: center;
  background-color: #ffe6ff;
}

.row{
  display: none;
}

h3 {
  margin-bottom: 40px;
}

#wrapper {
  display: flex;
  justify-content: center;
}

.rules {
  margin-top: 20px;
  font-size: 18px;
  margin-right: 20%;
  margin-left: 20%;
}

#total-score-1, #dice1, #dice2, #total-score-2, #turn-score-1, #turn-score-2{
  width: 120px;
  height: 120px;
  font-size: 80px;
  text-align: center;
  margin: auto;
}

#hold1, #hold2, #play2{
  display: none;
}

h1{
  margin: 0px;
  padding: 30px;
  background-color: pink;
  text-align: center;
}

.btn{
  margin-top: 20px;
  margin-right: 5px;
  background-color: pink;
  font-weight: bold;
}

img {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.win{
  font-size: 50px;
  margin-top: 30px;
  color: #ff33cc;
}

.result{
  font-size: 25px;
}


/* Dice styles */

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}
  
.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face, .sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}
  
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

* {
  box-sizing: border-box;
}

[class$="face"] {
  margin: 16px;
  padding: 4px;
  
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
}

.pip {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;

  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}